<div class="mfp-hide modal modal--logon" id="logon-modal">
  <div class="modal__switcher">
    <h2 class="modal__switcher-title">регистрация</h2>
    <div class="modal__tooltip"><span class="modal__tooltip-text">нет аккаунта?</span></div>
  </div>
  <div class="modal__module">
    <h2 class="modal__title">вход</h2>
    <form class="modal__form" action="#">
      <input class="modal__input input" type="text" placeholder="логин" required>
      <label class="modal__label">
        <input class="modal__input modal__password" type="password" placeholder="пароль" required>
        <button class="modal__show" type="button"></button>
      </label>
      <label class="modal__checkbox">
        <input class="modal__checkbox-input" type="checkbox">
        <span class="modal__checkbox-text">Запомнить</span>
      </label>
      <button class="modal__btn btn btn--clear" type="submit">войти</button>
      <a class="modal__cta" href="#"><span>Забыли пароль?</span></a>
    </form>
  </div>
  <div class="modal__module">
    <h1 class="modal__title">регистрация</h1>
    <form class="modal__form" action="#">
      <input class="modal__input" type="text" placeholder="логин" required>
      <label class="modal__label">
        <input class="modal__input modal__password" type="password" placeholder="пароль" required>
        <button class="modal__show" type="button"></button>
      </label>
      <label class="modal__label">
        <input class="modal__input modal__password" type="password" placeholder="введите пароль еще раз" required>
        <button class="modal__show" type="button"></button>
      </label>
      <input class="modal__input" type="email" placeholder="эл. почта" required>
      <input class="modal__input phone" type="tel" placeholder="телефон" required>
      <label class="modal__checkbox">
        <input class="modal__checkbox-input" type="checkbox" required>
        <span class="modal__checkbox-text">cогласен с <a class="modal__terms" href="">условиями...</a></span>
      </label>
      <button class="modal__btn btn btn--clear" type="submit">Зарегистрироваться</button>
    </form>
  </div>
</div>

<div class="mfp-hide modal modal--call" id="call">
  <div class="modal__top">
    <p class="modal__phone">+7 (495) 135-15-11</p>
    <p class="modal__phone-text">Круглосуточно</p>
  </div>
  <div class="modal__buttons">
    <a class="modal__call-btn active" href="tel:+74951351511">вызвать</a>
    <a class="modal__call-btn" href="#call-request">заказать звонок</a>
  </div>
</div>

<form class="mfp-hide modal modal--request" id="call-request">
  <h2 class="modal__title">заказать звонок</h2>
  <p class="modal__subtitle">Нету времени или возможности позвонить? Мы свяжемся с Вами в ближайшие 2 минуты!</p>
  <input class="modal__input" type="text" name="Имя" placeholder="Ваше имя" required>
  <input class="modal__input modal__input--tel" type="tel" name="Телефон" data-validate-field="tel" placeholder="Ваш телефон">
  <label class="modal__checkbox">
    <input class="modal__checkbox-input" type="checkbox">
    <span class="modal__checkbox-text">Нажимая на кнопку «Заказать звонок», я принимаю условия Политики конфиденциальности в отношении хранения и
      обработки персональных данных пользователей
    </span>
  </label>
  <button class="modal__btn btn" type="submit">заказать звонок</button>
  <p class="modal__text">или свяжитесь с нами по номеру</p>
  <a class="modal__phone" href="tel:+74951351511">+7 (495) 135-15-11</a>
</form>

<form class="mfp-hide modal modal--request" id="appointment">
  <h2 class="modal__title">записаться в мастерскую</h2>
  <p class="modal__subtitle">Для восстановления или программирования чипов ключей некоторых моделей автомобиля требуется сам автомобиль. Мы окажем Вам содействие в эвакуации автомобиля, если потребуется</p>
  <input class="modal__input" type="text" name="Имя" placeholder="Ваше имя" required>
  <input class="modal__input modal__input--tel" type="tel" name="Телефон" autocomplete="false" placeholder="Ваш телефон" required>
  <textarea class="modal__input modal__input--textarea" placeholder="Ваше сообщение"></textarea>
  <label class="modal__checkbox">
    <input class="modal__checkbox-input" type="checkbox">
    <span class="modal__checkbox-text">Нажимая на кнопку «Отправить», я принимаю условия Политики конфиденциальности в отношении хранения и
      обработки персональных данных пользователей
    </span>
  </label>
  <button class="modal__btn btn" type="submit">Отправить</button>
  <p class="modal__text">или свяжитесь с нами по номеру</p>
  <a class="modal__phone" href="tel:+74951351511">+7 (495) 135-15-11</a>
</form>


<form class="mfp-hide modal modal--request" id="consultation">
  <h2 class="modal__title">Заказать консультацию</h2>
  <p class="modal__subtitle">Для восстановления или программирования чипов ключей некоторых моделей автомобиля требуется сам автомобиль. Мы окажем Вам содействие в эвакуации автомобиля, если потребуется</p>
  <input class="modal__input" type="text" name="Имя" placeholder="Ваше имя" required>
  <input class="modal__input modal__input--tel" type="tel" name="Телефон" autocomplete="false" placeholder="Ваш телефон" required>
  <textarea class="modal__input modal__input--textarea" placeholder="Ваше сообщение"></textarea>
  <label class="modal__checkbox">
    <input class="modal__checkbox-input" type="checkbox">
    <span class="modal__checkbox-text">Нажимая на кнопку «Отправить», я принимаю условия Политики конфиденциальности в отношении хранения и
      обработки персональных данных пользователей
    </span>
  </label>
  <button class="modal__btn btn" type="submit">Отправить</button>
  <p class="modal__text">или свяжитесь с нами по номеру</p>
  <a class="modal__phone" href="tel:+74951351511">+7 (495) 135-15-11</a>
</form>