.forms {
  padding: 50px 0 200px;
  background-color: #f4f4f4;

  &__row {
    margin: 0 0 60px;
  }
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.rub::after {
  content: "₽";
  margin: 0 0 0 5px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.btn {
  display: inline-block;
  border: 1px solid var(--accent);
  border-radius: 38px;
  padding: 17px 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  background-color: var(--accent);
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: var(--accent-hover);
  }

  &--clear {
    color: var(--mainColor);
    background-color: transparent;

    &:hover {
      color: var(--white);
      background-color: var(--accent);
    }
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}


._tabs-content {
  display: none;

  &._active {
    display: block;
  }
}

._tabs-item {
  cursor: pointer;
}

.tabs {
  &__tab-box {
    display: inline-flex;
    align-items: center;
    border-bottom: 2px solid var(--lightGrey);
  }

  &__tab {
    position: relative;
    margin: 0 65px 0 0;
    padding: 0 0 26px;
    font-weight: 700;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: var(--accent);
      transform: scale(0);
      transition: all 0.3s ease 0s;
    }

    &:last-child {
      margin: 0;
    }

    &._active {
      position: relative;
      color: var(--mainColor-hover);

      &::before {
        transform: scale(1);
      }
    }

    &:hover {
      color: var(--mainColor-hover);
    }
  }
}

.slider-control {
  display: flex;

  &__arrow {
    width: 9px;
    height: 18px;
    cursor: pointer;
    outline: transparent;

    path {
      transition: all 0.1s ease 0s;
    }

    &:hover {
      path {
        stroke: var(--accent);
      }
    }
  }

  &__prev {
  }

  &__next {
    transform: rotate(180deg);
  }

  &__count {
    display: inline-block;
    margin: 0 26px;
    font-weight: 500;
    font-size: 16px;
    color: var(--mainColor-hover);
  }
}

.methods {
  display: flex;

  div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9px 0 0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: var(--mainColor-hover);
    cursor: pointer;

    svg path {
      transition: all 0.2s ease 0s;
    }

    &:last-child {
      margin: 0;
    }


    &:hover {
      svg path {
        fill: #b5b5b5;
      }
    }
  }

  &__car {
    svg {
      width: 22px;
      height: 18px;
    }
  }

  &__bus {
    svg {
      width: 18px;
      height: 19px;
    }
  }

  &__metro {
    svg {
      width: 19px;
      height: 17px;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22px 18px 30px;
  width: 100%;
  min-height: 100%;
  max-width: 265px;
  box-shadow: 0 12px 45px rgba(0, 0, 0, 0.03);
  text-align: center;
  background: #fff;

  &:hover {
    .card__header {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }

  &__preview {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    background-image: url("../images/icons/eye.svg");
    background-position: center left;
    background-size: 23px 13px;
    background-repeat: no-repeat;

    &:hover {
      .card__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__preview-icon {
    margin: 0 0 3px;
    width: 23px;
    height: 13px;
  }

  &__tooltip {
    position: absolute;
    left: 41px;
    top: -9px;
    display: block;
    border-radius: 2px;
    padding: 6px 10px;
    width: 120px;
    box-shadow: 0 6px 43px rgba(0, 0, 0, 0.16);
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    text-align: left;
    background: #fefefe;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    &::before {
      content: "";
      position: absolute;
      left: -9px;
      top: 50%;
      border-top: 7px solid transparent;
      border-right: 10px solid #fefefe;
      border-bottom: 7px solid transparent;
      width: 0;
      height: 0;
      transform: translateY(-50%);
    }
  }

  &__add-to-favorites {
    width: 19px;
    height: 17px;
    transition: all 0.3s ease 0s;

    &.added {
      transform: scale(1.2);

      svg {
        fill: var(--accent);
      }

      svg path {
        stroke: var(--accent);
      }
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 0 20px;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px;
    min-height: 122px;
    max-width: 122px;
  }

  &__title {
    margin: 0 0 10px;
    min-height: 32px;
    font-size: 14px;
    color: var(--black);
  }

  &__desc {
    flex: 1 1 auto;
    font-size: 12px;
    line-height: 1.4;
  }

  &__footer {
    flex: 0 0 auto;
  }

  &__price {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    color: var(--black);
  }

  &__details {
    padding: 13px 30px 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: var(--mainColor-hover);
  }
}

.filter {
  padding: 34px 26px;
  max-width: 327px;
  background-color: #fff;

  &__tab-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 22px;
    //border: 1px solid rgba(#ff8200, .5);
    border-radius: 32px;
    padding: 0 36px 0 30px;
    width: 275px;
    height: 50px;
    background-color: rgba(#979797, 0.5);
    box-shadow: inset 1px 0 25px -17px rgba(0, 0, 0, 0.75);

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      border-radius: 32px;
      width: 143px;
      height: 46px;
      margin: 1px 0;
      background-color: #efefef;
      box-shadow: 0 0 12px -4px rgba(#000, 1);
      transition: all 0.25s cubic-bezier(0.41, 1, 0.79, 1.1);
    }

    &._active {
      &::before {
        transform: translateX(128px);
      }
    }
  }

  &__tab {
    z-index: 2;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--white);

    &._active {
      cursor: unset;

      svg path {
        fill: var(--mainColor);
      }

      span {
        color: var(--mainColor);
      }
    }
  }

  &__tab-content {
    display: none;

    &._active {
      display: block;
    }
  }

  &__auto-icon {
    margin: 0 12px 0 0;
    width: 30px;
    height: 13px;

    path {
      fill: var(--white);
    }
  }

  &__moto-icon {
    margin: 0 12px 0 0;
    width: 22px;
    height: 15px;
    fill: var(--white);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    position: relative;
    width: 100%;
    font-weight: 500;
    outline: transparent;
    padding: 14px 16px;
    border: 1px solid #E0E0E0;
    color: var(--mainColor-hover);
  }

  &__input-clear {
    position: absolute;
    right: 15px;
    top: 50%;
    display: inline-block;
    outline: transparent;
    width: 12px;
    height: 12px;
    background-image: url('../images/icons/filter-clear.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      background-image: url('../images/icons/filter-clear-hover.svg');
    }
  }

  &__input:not(:invalid) ~ .filter__input-clear {
    display: none;
  }

  &__btn {
    margin: 23px 0 0;
    width: 100%;
    padding: 11px 10px;

    &:hover {
      .filter__btn-icon {
        line,
        path {
          stroke: var(--white);
        }
      }
    }
  }

  &__btn-text {
    position: relative;
    padding: 0 0 0 24px;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
  }

  &__btn-icon {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 10px;
    transform: translateY(-50%);

    line,
    path {
      transition: all 0.3s ease 0s;
    }
  }

  .select2-dropdown {
    border: none;
  }
}





