<section class="duplicate">
  <div class="container">
    <div class="duplicate__inner">
      <div class="duplicate__info">
        <h1 class="duplicate__title">изготовление дубликатов ключей в москве</h1>
        <p class="duplicate__text">Организация оказывает услуги по изготовлению автомобильных ключей (продажа заготовки и нарезка лезвия, прошивка чипа) и прошивке системы иммобилайзера автомобиля – устранение ошибок, удаление и добавление ключей. </p>
        <h4 class="duplicate__caption">Изготовление автомобильных ключей требует:</h4>
        <ul class="duplicate__list">
          <li class="duplicate__item">высокого качества исполнения – ключ должен работать и открывать все, что должен. </li>
          <li class="duplicate__item">чип должен быть прописан в иммобилайзер автомобиля для того, чтобы двигатель не блокировался при провороте зажигания;</li>
        </ul>
        <a class="duplicate__btn btn btn--clear" href="">задать вопрос</a>
      </div>
      <div class="duplicate__slider">
        <div class="duplicate__slider-body swiper">
          <div class="duplicate__slide">
            <div class="duplicate__image ibg">
              <img src="images/slider-image1.jpg" alt="изготовление дубликатов ключей">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>