<section class="about">
  <div class="container">
    <h1 class="about__title">как мы работаем:</h1>
    <div class="about__items">
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-doc.svg" alt="Заявка">
        </div>
        <h3 class="about__caption">
          Вы оставляете заявку
          <span class="about__counter">1</span>
        </h3>
        <p class="about__text">
          Вы размещаете заявку на сайте или по телефону
        </p>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-wrench.svg" alt="Мастерская">
        </div>
        <h3 class="about__caption">
          Выезд или запись в мастерскую
          <span class="about__counter">2</span>
        </h3>
        <p class="about__text">
          Немедленно выезжаем к Вам или назначаем встречу в нашей мастерской
        </p>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-key.svg" alt="Изготовление ключа">
        </div>
        <h3 class="about__caption">
          Изготовление ключа и прошивка
          <span class="about__counter">3</span>
        </h3>
        <p class="about__text">
          При Вас изготавливаем ключ и программируем автомобиль
        </p>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-autokey.svg" alt="Тестирование ключа">
        </div>
        <h3 class="about__caption">
          Тестирование ключа на автомобиле
          <span class="about__counter">3</span>
        </h3>
        <p class="about__text">
          Тестируем новый ключ при Вас
        </p>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-payment.svg" alt="Оплата">
        </div>
        <h3 class="about__caption">
          Оплата услуг
          <span class="about__counter">3</span>
        </h3>
        <p class="about__text">
          Оплачиваете услугу любым удобным для Вас способом
        </p>
      </div>
      <div class="about__item">
        <div class="about__image">
          <img src="images/icons/about/about-warranty.svg" alt="Гарантия">
        </div>
        <h3 class="about__caption">
          Гарантия на работы и материалы
          <span class="about__counter">3</span>
        </h3>
        <p class="about__text">
          При Вас изготавливаем ключ и программируем автомобиль
        </p>
      </div>
    </div>
    <a class="about__btn btn" href="">Запись в мастерскую</a>
    <a class="about__btn btn btn--clear" href="">Вызвать мастера</a>

  </div>
</section>