
//<Подключение шрифта>=====================================================================================================================
@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//</Подключение шрифта>=====================================================================================================================

//<Адаптивный шрифт>=====================================================================================================================
@mixin adaptive-font($pcSize, $mobSize, $maxSize) {
  $addSize: $pcSize - $mobSize;
  @if $maxSize == 1 {
    font-size: $pcSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else {
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}
//</Адаптивный шрифт>=====================================================================================================================

// FOCUS ===============================================================================
@mixin focus {
  transition: all 0.3s ease 0s;
  &:focus {
    outline: transparent;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  }
}

@mixin breakpoint ($point) {
  @if $point == 'mobile' {
    @media only screen and (min-width: 360px) { @content; }
  }

  @else if $point == 'tablet' {
    @media only screen and (min-width: 480px) { @content; }
  }

  @else if $point == 'desktop' {
    @media only screen and (min-width: 768px) { @content; }
  }

  @else if $point == 'large-desktop' {
    @media only screen and (min-width: 1024px) { @content; }
  }

  @else if $point == 'extra-large-desktop' {
    @media only screen and (min-width: 1366px) { @content; }
  }

  @else {
    @media only screen and (min-width: $point) { @content; }
  }
}