

<div class="mfp-hide logon" id="logon-modal">
  <div class="logon__tabs _tabs">
    <div class="logon__tab-box">
      <div class="logon__tab _tabs-item _active">Вход</div>
      <div class="logon__tab _tabs-item">Регистрация</div>
    </div>
    <div class="logon__content-box">
      <form class="logon__tab-content _tabs-content _active">
        <fieldset class="logon__actions">
          <ul class="logon__list">
            <li class="logon__item">
              <label>Логин
                <input class="logon__login" name="name" type="text" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <label >Пароль
                <input class="logon__password" name="password" type="password" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <button class="logon__btn" type="submit">Войти</button>
            </li>
          </ul>
        </fieldset>
      </form>
      <form class="logon__tab-content _tabs-content">
        <fieldset class="logon__actions">
          <ul class="logon__list">
            <li class="logon__item">
              <label>Имя
                <input class="logon__name" name="name" type="text" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <label>Телефон
                <input class="logon__phone" name="phone" type="tel" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <label>Электронная почта
                <input class="logon__mail" name="email" type="email" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <label>Логин
                <input class="logon__login"  name="login" type="text" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <label>Пароль
                <input class="logon__password" name="password" type="password" placeholder="" required="">
              </label>
            </li>
            <li class="logon__item">
              <button class="logon__btn" type="submit">Зарегистрироваться</button>
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
  </div>
</div>