<div class="info info--feedback">
  <div class="container">
    <header class="info__header">
      <h1 class="info__title">Отзывы</h1>
      <div class="slider-control" data-da="info__footer--feedback,last,768">
        <svg class="slider-control__arrow slider-control__prev feedback-prev" width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5869 1L1.58691 10L10.5869 19" stroke="black" stroke-width="2"/>
        </svg>
        <div class="slider-control__count feedback-count"></div>
        <svg class="slider-control__arrow slider-control__next feedback-next" width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5869 1L1.58691 10L10.5869 19" stroke="black" stroke-width="2"/>
        </svg>
      </div>
      <a class="info__btn btn btn--clear" data-da="info__footer--feedback,1,500" href="">все отзывы</a>
    </header>
    <div class="info__slider feedback-slider swiper">
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-01.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-02.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-03.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-01.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-02.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
      <div class="info__slide">
        <article class="feedback-item">
          <div class="feedback-item__avatar">
            <img src="images/feedback/avatar-03.png" alt="Василий">
          </div>
          <h3 class="feedback-item__name">Константин</h3>
          <div class="feedback-item__city">г. Москва</div>
          <div class="feedback-item__text">Мы мобильны! Если нет возможности приехать
            или привезти автомобиль, мы подберем
            лучший способ для решения вопроса.
            Мы
            мобильны! Если нет возможности приехать или
            привезти автомобиль
          </div>
          <time class="feedback-item__date" datetime="2019-09-20">20.09.2019</time>
        </article>
      </div>
    </div>
    <footer class="info__footer info__footer--feedback">
      <a class="info__btn btn" href="">Оставить отзыв</a>
    </footer>
  </div>
</div>