<div class="articles">
  <div class="container">
    <header class="articles__header">
      <h1 class="articles__title">изготовление автомобильных ключей: выберите свой случай - блог</h1>
      <a class="articles__btn btn btn--clear" href="">все статьи</a>
    </header>
    <div class="articles__items">
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/01.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">потеряли все ключи от а/м</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/02.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Машина не реагирует на ключ, звездец!!!!!!!! </h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/03.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Ремонт замка машины</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/04.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Потеряли все ключи от а/м</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/02.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Машина не реагирует на ключ, звездец!!!!!!!! </h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/01.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">потеряли все ключи от а/м</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/04.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Ремонт замка машины</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
      <article class="articles__item">
        <a class="articles__image" href="#">
          <img src="images/articles/03.jpg" alt="Потерял ключи?">
        </a>
        <div class="articles__body">
          <div class="articles__counter"></div>
          <h3 class="articles__caption">Ремонт замка машины</h3>
        </div>
        <footer class="articles__footer">
          <a class="articles__link" href="">выбрать</a>
        </footer>
      </article>
    </div>
  </div>
</div>