.articles {
  padding: 100px 0 85px;
  background-color: #f3f3f3;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 55px;
  }

  &__title {
    max-width: 750px;
    
    &::first-letter {
      text-transform: capitalize;
    }
  }
  
  &__btn {
    font-size: 16px;
    color: #333;
  }

  &__items {
    margin: 0 0 0 -35px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  &__item {
    display: flex;
    flex: 0 1 265px;
    flex-direction: column;
    margin: 0 0 35px 35px;
    background-color: var(--white);
    min-height: 100%;

    @media (max-width: 1205px) {
      flex: 0 1 calc(33.333% - 35px);
    }

    &:hover {
      .articles__body,
      .articles__footer {
        color: var(--white);
        background-color: #202020;
      }

      .articles__caption {
        color: var(--white);
      }

      .articles__link::after {
        background: url('../images/icons/blog-angle-right-white.svg') center no-repeat;
      }
    }
  }

  &__image {
    display: flex;
    flex: 0 0 180px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__body {
    flex: 1 0 auto;
    padding: 25px 30px 40px;
    transition: all 0.3s ease 0s;
  }

  &__counter {
    margin: 0 0 13px;
    display: block;
    color: var(--accent);
    font-weight: 700;
    font-size: 12px;
  }

  &__caption {
    display: block;
    max-width: 200px;
    color: #313131;
    line-height: 1.45;
    transition: all 0.3s ease 0s;
    
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__footer {
    flex: 0 0 auto;
    border-top: 1px solid #e0e0e0;
    transition: all 0.3s ease 0s;
  }

  &__link {
    position: relative;
    display: block;
    padding: 16px 28px 16px 25px;
    font-weight: 700;

    &::first-letter {
      text-transform: capitalize;
    }
    
    &::after {
      content: "";
      position: absolute;
      width: 4px;
      height: 8px;
      right: 28px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../images/icons/blog-angle-right.svg') center no-repeat;
    }
  }
}