.header {

  &__top {

  }
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding: 0 22px 0 0;
  }

  &__info {
    border-left: 1px solid rgba(#000, 0.2);
    padding: 6px 10px 6px 22px;
    min-height: 39px;
    max-width: 210px;
    font-size: 12px;
    line-height: 1.3;

    span {
      display: block;
    }
  }

  &__actions {
    display: flex;
    margin: 0 20px;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
  }

  .select2-container {
    padding: 0 0 0 26px;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/header-location.svg');
      background-repeat: no-repeat;
    }
  }

  // Видимый выбранный селект
  .select2-container--default .select2-selection--single {
    border: none;
    padding: 0;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    white-space: initial;
    min-height: 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &__login {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    text-transform: capitalize;;
    transition: all 0.3s ease 0s;
    white-space: nowrap;

    &:hover {
      color: var(--mainColor-hover);

      .top-header__login-icon {
        path {
          stroke: var(--accent);
        }
      }
    }
  }
  
  &__login-icon {
    width: 17px;
    height: 18px;
    margin: 0 12px 0 0;

    path {
      transition: all 0.3s ease 0s;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    margin: 0 23px 0 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--mainColor-hover);
    text-align: right;
  }

  &__label {
    margin: 5px 0 0;
    font-size: 12px;
    color: var(--mainColor);
  }

  &__btn {
    padding: 14px 25px;
    font-weight: 600;
    font-size: 16px;
  }
}

// select2-dropdown style
.header-dropdown {
  margin: 10px 0 0;
  border: none;
}

// HEADER BOTTOM START
.header__bottom {
  border-top: 1px solid rgba(#000, 0.1);
}

// HEADER BOTTOM END