.header {

  &__bottom {
    border-top: 1px solid rgba(#000, 0.1);
  }
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;

  @media (max-width: 650px) {
    padding: 7px 0;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    @media (max-width: 650px) {
      max-width: 150px;
    }
  }

  &__logo {
    padding: 0 22px 0 0;
  }

  &__info {
    border-left: 1px solid rgba(#000, 0.2);
    padding: 6px 10px 6px 22px;
    min-height: 39px;
    max-width: 210px;
    font-size: 12px;
    line-height: 1.3;

    span {
      display: block;
    }

    @media (max-width: $md2+px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    margin: 0 20px;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;

    @media (max-width: $md2 + px) {
      justify-content: space-evenly;
    }

    @media (max-width: 650px) {
      flex: 0 1 auto;
      margin: 0;
    }
  }

  .select2-container {
    padding: 0 0 0 26px;
    margin: 0;

    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icons/header-location.svg');
      background-repeat: no-repeat;
    }
  }

  // Видимый выбранный селект
  .select2-container--default .select2-selection--single {
    border: none;
    padding: 0;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    white-space: initial;
    min-height: 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &__login {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    text-transform: capitalize;;
    transition: all 0.3s ease 0s;
    white-space: nowrap;

    @media (max-width: 750px) {
      font-size: 0;
    }

    &:hover {
      color: var(--mainColor-hover);

      .top-header__login-icon {
        path {
          stroke: var(--accent);
        }
      }
    }
  }

  &__login-icon {
    width: 17px;
    height: 18px;
    margin: 0 12px 0 0;

    @media (max-width: 650px) {
      margin: 0;
    }

    path {
      transition: all 0.3s ease 0s;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    margin: 0 23px 0 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--mainColor-hover);
    text-align: right;
    white-space: nowrap;

    @media (max-width: 1200px) {
      margin: 0;
    }
  }

  &__label {
    display: block;
    margin: 5px 0 0;
    font-size: 12px;
    color: var(--mainColor);
  }

  &__btn {
    padding: 14px 25px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}

// select2-dropdown style
.city-dropdown {
  margin: 10px 0 0;
  border: none;
  border-bottom: 2px solid var(--accent);

  @media (max-width: 650px) {
    margin: 7px 0 0;
    border-top: none;
  }
}

// HEADER BOTTOM START
.bottom-header {

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--mainColor-hover);

    @media (max-width: 650px) {
      padding: 9px 0 11px;
    }
  }


  &__menu {
    @media (max-width: 1200px) {
      width: 100%;
      margin: 0 30px 0 0;
    }

    @media (max-width: $md2+px) {
      width: auto;
    }

    @media (max-width: 950px) {
      margin: 0;
    }

    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;

    @media (max-width: 1050px) {
      justify-content: flex-start;
    }
  }

  &__item {
    display: inline-block;
    margin: 0 27px 0 0;
    font-size: 0;

    @media (max-width: 1200px) {
      margin: 0 10px 0 0;
    }

    @media (max-width: $md3+px) {
      margin: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 17px 32px 22px;
    text-align: center;
    font-size: 16px;
    transition: text-shadow 0.3s;
    white-space: nowrap;

    @media (max-width: 1200px) {
      padding: 17px 14px 22px;
    }

    &:first-letter {
      text-transform: capitalize;
    }

    &--menu {
      position: relative;
      padding: 17px 32px 22px 67px;
      background-color: #efefef;

      @media (max-width: 1200px) {
        padding: 17px 32px 22px 67px;
      }

      @media (max-width: 650px) {
        padding: 9px 40px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 33px;
        top: 19px;
        width: 12px;
        height: 12px;
        background-image: url('../images/icons/header-catalog-4dots.svg');
        background-position: 0 0;
        background-repeat: no-repeat;

        @media (max-width: 650px) {
          left: 17px;
          top: 11px;
        }
      }
    }

    &:hover {
      text-shadow: 0 0 .25px #666, 0 0 .25px #666;
    }
  }

  &__cart {
  }

  // NAV DROPDOWN =======================================
  &__dropdown {
    position: relative;
    display: none;
    margin-right: auto;
    @media (max-width: 950px) {
      display: block;
    }
  }

  // NAV Button
  &__dropdown-btn {
    margin: 0 20px 0 0;
    display: inline-block;
    padding: 17px 15px 22px;
    font-size: 16px;
    font-weight: 500;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 3px;
      background-image: url('../images/icons/header-nav-dots.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      right: 9px;
      top: 25px;

      @media (max-width: 650px) {
        top: 10px;
        left: 17px;
      }
    }

    &._active {
      &::after {
        background-image: url('../images/icons/header-nav-dots-active.svg');
      }
    }

    @media (max-width: 650px) {
      font-size: 0;
      &::after {
        width: 20px;
        height: 18px;
        background-image: url("../images/icons/burger.svg");
        background-size: cover;
      }
      &._active {
        &::after {
          width: 20px;
          height: 18px;
          background-image: url("../images/icons/burger-active.svg");
        }
      }
    }
  }

  // DROPDOWN MENU
  &__dropdown-list {
    position: absolute;
    z-index: 5;
    display: none;
    top: 57px;
    left: -4px;
    margin: 0;
    padding: 0;
    width: 233px;
    border-top: none;
    border-bottom: 2px solid var(--accent);

    @media (max-width: 650px) {
      right: 15px;
      left: unset;
      top: 39px;
    }

    @media (max-width: 400px) {
      width: 290px;
    }

    .bottom-header__item {
      display: block;
      margin: 0;
    }

    .bottom-header__link {
      display: block;
      text-align: left;
      padding: 14px 30px;
      background-color: var(--white);

      &:focus {
        background-color: var(--accent);
        color: var(--white);
      }
    }
  }

  &__cat-menu {
    @media (max-width: 650px) {
      display: block;
      margin: 0;
      max-width: 100%;
      width: 100%;

      li {
        display: block;
      }
    }
  }

  &__bottom {
    display: none;

    @media (max-width: 650px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 -15px;
      background-color: #efefef;
    }

  }

}

.cart {
  display: flex;
  align-items: center;

  @media (max-width: 650px) {
    position: relative;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin: 0 12px 0 0;
  }

  &__icon {
    width: 27px;
    height: 25px;
  }

  &__counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    border-radius: 19px;
    padding: 0 5px;
    height: 19px;
    min-width: 19px;
    font-size: 12px;
    line-height: 1;
    color: var(--white);
    background-color: var(--accent);

    @media (max-width: 650px) {
      position: absolute;
      top: -5px;
      left: -1px;
      font-size: 10px;
      padding: 1px 5px 0;
      height: 15px;
      border-radius: 15px;
      min-width: 13px;
    }
  }

  &__total {
    font-size: 16px;
    color: var(--mainColor-hover);
    transition: all 0.3s ease 0s;

    &::after {
      margin: 0 0 0 5px;
    }
  }
}

// HEADER BOTTOM END
