<section class="benefits">
  <div class="container">
    <div class="benefits__inner">
      <div class="benefits__item">
        <svg class="benefits__image">
          <use xlink:href="images/svgSprite.svg#benefits-shield"></use>
        </svg>
        <h3 class="benefits__title">безопасность</h3>
        <ul class="benefits__list">
          <li class="benefits__list-item">Делаем ключи при Вас</li>
          <li class="benefits__list-item">Обязательно предъявление ПТС или СТС</li>
          <li class="benefits__list-item">Документальное оформление услуги</li>
        </ul>
      </div>
      <div class="benefits__item">
        <svg class="benefits__image">
          <use xlink:href="images/svgSprite.svg#benefits-house"></use>
        </svg>
        <h3 class="benefits__title">мастерская в городе</h3>
        <ul class="benefits__list">
          <li class="benefits__list-item">Комфортный офис: wifi, парковка, кофе, чай</li>
          <li class="benefits__list-item">Помощь с эвакуацией автомобиля к нам</li>
          <li class="benefits__list-item">Курьерская доставка ключей из мастерской</li>
        </ul>
      </div>
      <div class="benefits__item">
        <svg class="benefits__image">
          <use xlink:href="images/svgSprite.svg#benefits-like"></use>
        </svg>
        <h3 class="benefits__title">качество услуг</h3>
        <ul class="benefits__list">
          <li class="benefits__list-item">Заготовки под любые марки авто в наличии!</li>
          <li class="benefits__list-item">Автоматические станки с ЧПУз</li>
          <li class="benefits__list-item">Сертифицированные мастера</li>
        </ul>
      </div>
      <div class="benefits__item">
        <svg class="benefits__image">
          <use xlink:href="images/svgSprite.svg#benefits-document"></use>
        </svg>
        <h3 class="benefits__title">фирменная гарантия</h3>
        <ul class="benefits__list">
          <li class="benefits__list-item">На услугу – пожизненная гарантия</li>
          <li class="benefits__list-item">На электронные компоненты и чипы – 1,5 года</li>
          <li class="benefits__list-item">На корпус ключа – 1 год</li>
        </ul>
      </div>
    </div>
  </div>
</section>